[Desktop Entry]
Version=1.0
Type=Application
Name=CS50 Manual
Icon=help-browser-symbolic
Exec=google-chrome  https://manual.cs50.net/appliance/2014/
Path=~
NoDisplay=false
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
