[Desktop Entry]
Version=1.0
Type=Application
Name=Dropbox
Icon=dropbox
Exec=/usr/bin/dropbox50
NoDisplay=false
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
