[Desktop Entry]
Version=1.0
Type=Application
Name=Notes
Name[ast]=Notes
Name[ca]=Notes
Name[cs]=Poznámky
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[en_GB]=Notes
Name[es]=Notas
Name[eu]=Oharrak
Name[fi]=Muistiinpanot
Name[fr]=Notes
Name[gl]=Notas 
Name[hu]=Jegyzetek
Name[id]=Catatan
Name[it]=Nota
Name[ja]=Notes
Name[kk]=Жазбалар
Name[lv]=Piezīmes
Name[nb]=Notater
Name[nl]=Notities
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notițe
Name[ru]=Заметки
Name[sk]=Poznámky
Name[sq]=Shënime
Name[sv]=Anteckningar
Name[tr]=Notlar
Name[ug]=ئىزاھ
Name[uk]=Записки
Name[ur]=نوٹ
Name[ur_PK]=نوٹ
Name[zh_CN]=便笺
Name[zh_TW]=小筆記
Comment=Ideal for your quick notes
Comment[ast]=Xenial pa les sos notes rápides
Comment[ca]=Ideal per notes ràpides
Comment[cs]=Ideální pro rychlé poznámky
Comment[da]=Ideel til dine hurtignoter
Comment[de]=Prima geeignet für kurze Notizen
Comment[el]=Ιδανικό για τις σημειώσεις σας
Comment[en_GB]=Ideal for your quick notes
Comment[es]=Ideal para sus notas rápidas
Comment[eu]=Zure ohar azkarrentzat erabilgarria
Comment[fi]=Kätevä muistiinpanoväline
Comment[fr]=Idéal pour vos petites notes
Comment[gl]=Ideal para notas rápidas
Comment[hu]=Ideális gyors jegyzeteléshez
Comment[id]=Ideal untuk catatan cepat anda
Comment[it]=Ideale per le proprie annotazioni
Comment[ja]=ちょっとしたメモに最適です
Comment[kk]=Жылдам жазбаларыңыз үшін жарайды
Comment[lv]=Ideāls ātrām piezīmēm
Comment[nl]=Ideaal voor snelle notities
Comment[pt]=Ideal para as suas notas rápidas
Comment[pt_BR]=Ideal para uma nota rápida
Comment[ro]=Ideal pentru notițe rapide
Comment[ru]=Средство создания текстовых заметок
Comment[sk]=Ideálny pre rýchle poznámky
Comment[sv]=Perfekt för dina snabba anteckningar
Comment[tr]=Hızlı not almak için idealdir
Comment[ug]=ちょっとしたメモに最適です
Comment[uk]=Ідеально для Ваших швидких заміток
Comment[ur]=آپ کے فوری نوٹس کے لیے بہترین ہے
Comment[ur_PK]=آپ کے فوری نوٹس کے لیے بہترین ہے
Comment[vi]=Ý tưởng cho chú thích nhanh của bạn
Comment[zh_CN]=一个理想的快速便笺程序
TryExec=xfce4-notes
Exec=xfce4-notes
Icon=xfce4-notes-plugin
Terminal=false
Categories=GTK;Utility;TrayIcon;
OnlyShowIn=XFCE;GNOME;
StartupNotify=false
NoDisplay=true
