Package: ide50
Version: 5
Architecture: amd64
Maintainer: CS50 <sysadmins@cs50.harvard.edu>
Installed-Size: 45536
Depends: apache2
Recommends: whois, gdbserver, manpages-dev, clang, nodejs, library50-c, library50-php, check50, style50, php5-cgi
Section: misc
Priority: optional
Description: install the cs50 ide software
 ide50 installs all of the cs50 ide software and configuration files
