[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=init.desktop
Comment=
Exec=/bin/bash /home/jharvard/.config/autostart/init.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
