Source: ide50
Maintainer: CS50 <sysadmins@cs50.harvard.edu>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9.20131227ubuntu1)

Package: ide50
Architecture: any
Depends: apache2
Recommends: whois, gdbserver, manpages-dev, clang-3.6, nodejs, lib50-c (>= 7.1.1),
  lib50-python (>= 1.0.1), library50-php, check50, help50 (>= 1.2.2),
  server50 (>= 1.0.0), submit50 (>= 1.1.0), style50,
  php5-cgi, telnet, php5-curl, ngrok-client,
  render50, wamerican, bc, dos2unix, libphp-phpmailer, php5-xdebug,
  inotify-tools, dnsutils, traceroute, openjdk-7-jdk, python3-pip
Provides:
Replaces:
Description: install the cs50 ide software
 ide50 installs all of the cs50 ide software and configuration files
